// 工具栏
.toolbar {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  &-left,
  &-right {
    display: flex;
  }
  &-right {
    justify-content: flex-end;
  }
  .upload-btn {
    margin-right: 15px;
  }
}

.list {
  flex: 1;
  overflow: hidden;
  .table-name {
    &:hover {
      text-decoration: underline;
      color: @primary-color;
      cursor: pointer;
    }
  }
}
.icons {
  .icon-item {
    width: 120px;
    height: 128px;
    border: 1px solid transparent;
    border-radius: 3px;
  }
}
