.table {
  display: table;
  width: 100%;
  .thead {
    display: table-header-group;
    .th {
      border-bottom: 1px solid @border-color-base;
    }
    position: sticky;
    top: 0;
    left: 0;
  }
  .tbody {
    display: table-row-group;
    .tr {
      background-color: #fff;
       &:hover {
         background-color: @item-hover-bg;
       }
    }
    .td {
      border-bottom: 1px solid @border-color-split;
    }
  }
  .tr {
    display: table-row;
    width: 100%;
  }
  .th, .td {
    padding: 5px 0 5px 10px;
    display: table-cell;
    &.select {
      width: 30px;
    }
  }
}
.contextMenu {
  position: fixed;
  &-content {
    box-shadow: 0 0 0 3px #ddd;
  }
}
